/*  Basic Hello World App
    Will Welker williamwelker.com
    This is a Blend4Web application
    blend4web.com
*/

body {                                         /* This targets the body element in your HTML file and applies the follow rules to it.  */
    margin: 0;
    padding: 0;
    text-align: center

}

#background_app {                               /* This targets the div element with an id of "background_app" in your HTML file and applies the following rules to it.  Each id name in your HTML file must be unique, no two can be the same. */

    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
#overlay_container {                           /* This targets the div element with an id of "overlay_container" in your HTML file and applies the following rules to it.  */
    margin: auto;
    padding: 50px;
    position: relative;
    width: 60%;
    z-index: 1;
    background-color:pink;  /* RGBA means red, green, blue, alpha.  The 0.6 in the alpha channel gives our overlay a translucent background. */
}

.header {                                      /* This targets the h1 element with the class name of "header" in your HTML file and applies the following rules to it.  Many HTML elements can belong to the same class name. */
    text-align: center;

}
